!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Consultas</title>
  <style>
    /* Estilos CSS para el encabezado */
    header {
      background-color: #3498db;
      padding: 20px;
      text-align: center;
      color: #ffffff;
    }

    h1 {
      margin: 0;
    }
  </style>
  <header>
    <h1>Consultas Empresa de Logistica</h1>
  </header>

  <!-- Resto del contenido de la página -->


    <!-- para que sea index.php pueda importarlo -->
    <link rel="stylesheet" href="styles/mystyles.css">
    <!-- para que una consulta.php pueda importarlo -->
    <link rel="stylesheet" href="../styles/mystyles.css">
</head>
</html>